:root{
    --preto:      #000000;
    --preto2:     #353535;
    --fonteCinza: #909090;
    --escolhaIMG: #D1D1D1;
    --backSearch: #DCDCDC;
    --background: #fafafa;
    --lilas:      #8134AF;
    --roxo:       #515BD4;
    --azul:       #2686CC;
    --rosa:       #DD2A7B;
    --laranja:    #F58529;
    --amarelo:    #FEDA77;
}     

/* LOGIN - inicio */
/* LOGIN - final */


/* CADASTRO - inicio */
/* CADASTRO - final */


/* EDIÇÃO DE PERFIL - inicio */
/* EDIÇÃO DE PERFIL - final */


/* FEED - inicio */
/* FEED - final */


/* PERFIL - inicio */
/* PERFIL - final */