@{
    ViewData["Title"] = "Perfil";
}

 <main>
            <div class="perfil"> 
            <!--Perfil-->
                    <div class="perfil-todo">
                        <div class="content">
                            <div class="flex">
                                <div class="f-perfil">
                               <a asp-area="EditarPerfil" asp-controller="EditarPerfil" asp-action="Index" > <img class="img-perfil"  src="img/thank-you 3.png" alt="Foto de Perfil do Usuário"> </a>
                                </div>
                                <div class="infoP">
                                    <div class="username">
                                        <h1>yes_baby</h1>
                                    
                                    </div>
                                    <div class="infop">
                                        <p class="pu">2 publicações</p>
                                        <p class="pu">128 seguindo</p>
                                        <p class="pu">214 seguidores</p>
                                    </div>
                                    <div class="nome">
                                        <h2>Marcos Jeeves</h2>
                                        <a href="~/Login">Sair</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>           
            <!--Fim Perfil-->

                    <!--Linha-->       
                    <hr class="linha" size="2" width="100%" color="#EEEEEE">
                    <!-- Fim linha-->


                    <!--Publicações-->
                            <div class="pub">
                                <div class="publis">
                                    <img class="meio" src="img/pub.png">
                                    <h3>PUBLICAÇÕES</h3> 
                                </div>    
                            
                                    <div class="publicacao-toda">
                                    <section class=" content publicacaoPerfil">
                                        <div class="ajustePubli">
                                                <img class="foto-postagem" src="img/Rectangle 4.png" alt="Publicação do usuário">
                                            <div class="postagem">
                                                <div class="postagem-perfil">
                                                    <img class="foto-profile" src="img/thank-you 4.png" alt="Imagem de perfil do usuário que fez o post">
                                                    <div class="nome-perfil">
                                                        <h3>Marcos Jeeves</h3>
                                                        <p>Rio de Janeiro, Brasil</p>
                                                    </div>
                                                </div>
                                                <picture class="icon">
                                                    <img class="curti" src="img/Vector (1).png" alt="Curtida">
                                                    <img class="com"src="img/comentario.png" alt="Comentário">
                                                </picture>
                                                <p class="curtidas">1954 curtidas</p>
                                                <div class="post-comentarios">
                                                    <p><span class="name"> fausto_silva</span> Esse cara é fera bixo!!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p><span class="name"> yes_baby</span> thank you <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p><span class="name"> adriano_stark</span> Quando eu adormecer, vou sonhar com você. <img class="iconc" src="img/Vector (2).png"> <br>É sempre você. </p>
                                                    <p><span class="name"> yes_baby</span> Yes baby!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p class="mais">Ver todos os 585 comentários</p>
                                                </div>
                                            </div>
                                        </div>            
                                    </section>    
                                    <div class="publicacao-toda">
                                    <section class=" content publicacaoPerfil">
                                        <div class="ajustePubli">
                                                <img class="foto-postagem" src="img/Rectangle 4.png" alt="Publicação do usuário">
                                            <div class="postagem">
                                                <div class="postagem-perfil">
                                                    <img class="foto-profile" src="img/thank-you 4.png" alt="Imagem de perfil do usuário que fez o post">
                                                    <div class="nome-perfil">
                                                        <h3>Marcos Jeeves</h3>
                                                        <p>Rio de Janeiro, Brasil</p>
                                                    </div>
                                                </div>
                                                <picture class="icon">
                                                    <img class="curti" src="img/Vector (1).png" alt="Curtida">
                                                    <img class="com"src="img/comentario.png" alt="Comentário">
                                                </picture>
                                                <p class="curtidas">1954 curtidas</p>
                                                <div class="post-comentarios">
                                                    <p><span class="name"> fausto_silva</span> Esse cara é fera bixo!!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p><span class="name"> yes_baby</span> thank you <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p><span class="name"> adriano_stark</span> Quando eu adormecer, vou sonhar com você. <img class="iconc" src="img/Vector (2).png"> <br>É sempre você. </p>
                                                    <p><span class="name"> yes_baby</span> Yes baby!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                    <p class="mais">Ver todos os 585 comentários</p>
                                                </div>
                                            </div>
                                        </div>            
                                    </section>
            </div>                  
        </main>            
