@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/stylePerfil.css">

<section class="perfil content flex-bt-center">
    <div>
        <img src="~/img/Perfil/@ViewBag.perfil.Foto" alt="Imagem do perfil">
    </div>
    <div class="info">
        <div class="nick">
            <p>@ViewBag.perfil.NomeDoUsuario</p>
        </div>
        <div class="contadores">
            <p>@ViewBag.publicacao.Count publicações</p>
            <p class="pu">128 seguindo</p>
            <p class="pu">214 seguidores</p>
        </div>
        <div class="flex-bt-center">
            <p class="nome">@ViewBag.perfil.NomeCompleto</p>
            <a aria-label="Link para a pagina de editar perfil" asp-controller="Editar" class="link-style">Editar Perfil</a>
            <a aria-label="link para logout" asp-controller="Perfil" asp-action="Sair" class="link-style">Sair</a>
        </div>
    </div>
</section>

<hr class="solid content">


<div class="pub">
<div class="publi">
<img class="meio" src="img/pub.png">
<h3>PUBLICAÇÕES</h3> 
  </div>    

    @foreach (Publicacao item in ViewBag.publicacao)
    {
        <!--Publicações-->
                            <div class="pub">
                                <div class="publi">
                                    <img class="meio" src="img/pub.png">
                                    <h3>PUBLICAÇÕES</h3> 
                                </div>    
                            
                                    <div class="publicacao-toda">
                                        <section class="publicacao">
                                            <div class="content flex-center-bt">
                                                    <img class="foto-postagem" src="img/Rectangle 4.png" alt="Publicação do usuário">
                                                <div class="postagem">
                                                    <div class="postagem-perfil">
                                                        <img class="foto-profile" src="img/thank-you 4.png" alt="Imagem de perfil do usuário que fez o post">
                                                        <div class="nome-perfil">
                                                            <h3>Marcos Jeeves</h3>
                                                            <p>Rio de Janeiro, Brasil</p>
                                                        </div>
                                                    </div>
                                                    <picture class="icon">
                                                        <img class="curti" src="img/Vector (1).png" alt="Curtida">
                                                        <img class="com"src="img/comentario.png" alt="Comentário">
                                                    </picture>
                                                    <p class="curtidas">1954 curtidas</p>
                                                    <div class="post-comentarios">
                                                        <p><span class="name"> fausto_silva</span> Esse cara é fera bixo!!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p><span class="name"> yes_baby</span> thank you <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p><span class="name"> adriano_stark</span> Quando eu adormecer, vou sonhar com você. <img class="iconc" src="img/Vector (2).png"> <br>É sempre você. </p>
                                                        <p><span class="name"> yes_baby</span> Yes baby!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p class="mais">Ver todos os 585 comentários</p>
                                                    </div>
                                                </div>
                                            </div>            
                                    </section>    
                                    <section class="publicacao1">
                                            <div class="content flex-center-bt">
                                                    <img src="img/Rectangle 4.png" alt="Publicação do usuário">
                                                <div class="postagem">
                                                    <div class="postagem-perfil">
                                                        <img class="foto-profile" src="img/thank-you 4.png" alt="Imagem de perfil do usuário que fez o post">
                                                        <div class="nome-perfil">
                                                            <h3>Marcos Jeeves</h3>
                                                            <p>Rio de Janeiro, Brasil</p>
                                                        </div>
                                                    </div>
                                                    <picture class="icon">
                                                        <img class="curti" src="img/Vector (1).png" alt="Curtida">
                                                        <img class="com"src="img/comentario.png" alt="Comentário">
                                                    </picture>
                                                    <p class="curtidas">1954 curtidas</p>
                                                    <div class="post-comentarios">
                                                        <p><span class="name"> fausto_silva</span> Esse cara é fera bixo!!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p><span class="name"> yes_baby</span> thank you <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p><span class="name"> adriano_stark</span> Quando eu adormecer, vou sonhar com você. <img class="iconc" src="img/Vector (2).png"> <br>É sempre você. </p>
                                                        <p><span class="name"> yes_baby</span> Yes baby!! <img class="iconc" src="img/Vector (2).png"> </p>
                                                        <p class="mais">Ver todos os 585 comentários</p>
                                                    </div>
                                                </div>
                                            </div>            
                                    </section>  
                                </div> 
                            </div>    
    }
