<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Edição de Perfil</title>
    <link rel="stylesheet" href="~/css/styleFeed.css" />
</head>
    <header class="content">
        <div class="principal">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="img/Instadev-C.svg" alt="Logo Instadev" class="logo">
            </a>
            <nav class="menu">
                    <input type="text" value="Pesquisar"></input>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="img/home.png" alt="Simbolo de página inicial"></a></li>
                    <li><a href="#"><img src="img/direct.png" alt="Item para fazer publicações"></a></li>
                    <li><a href="#"><img src="img/compass.png" alt="Simbolo de uma bussóla"></a></li>
                    <li><a href="#"><img src="img/like.png" alt="Item para curtir publicações"></a></li>
                    <li><a href="~/Perfil"><img src="img/thank-you 1.png" alt="Foto do saudoso Marcos Jeeves"></a></li>
                </ul>
            </nav>
        </div>

    </header>
<body>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="content">
    <div class="linhaUm">

        <a href="#">Sobre</a>
        <a href="#">Carreiras</a>
        <a href="#">Ajuda</a>
        <a href="#">API</a>
        <a href="#">Pivacidade</a>
        <a href="#">Termos</a>
        <a href="#">Contas mais relevantes</a>
        <a href="#">Hashtags</a>
        <a href="#">Localizações</a><br>

    </div>

    <div class="linhaDois">
        <a href="#">Português Brasil</a>
        <a href="#">© 2021 IntaDev - Grupo 8 - Senai Informática</a>
    </div>


</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

