<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_InstaDev</title>
    <link rel="stylesheet" href="~/css/perfil.css"/>
</head>
<body>
    <header>
        <header class="content">
            <div class="content">
                <a href="index.html">
                    <img src="img/Instadev-T.svg" alt="Logo Instadev" class="logo">
                </a>
                <nav class="menu">
                    <ul>
                        <h1><img src="img/search.png">Pesquisar</h1>
                        <li><a href="#"></a><img src="img/home.png" alt="Simbolo de página inicial"></a></li>
                        <li><a href="#"><img src="img/direct.png" alt="Item para fazer publicações"></a></li>
                        <li><a href="#"><img src="img/compass.png" alt="Simbolo de uma bussóla"></a></li>
                        <li><a href="#"><img src="img/like.png" alt="Item para curtir publicações"></a></li>
                        <li><a href="#"><img src="img/nick.png" alt="Foto do saudoso Marcos Jeeves"></a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="content">
    <div class="linhaUm">
            <a href="#">Sobre</a>
            <a href="#">Carreiras</a>
            <a href="#">Ajuda</a>
            <a href="#">API</a>
            <a href="#">Pivacidade</a>
            <a href="#">Termos</a>
            <a href="#">Contas mais relevantes</a>
            <a href="#">Hashtags</a>
            <a href="#">Localizações</a><br>
    </div>

    <div class="linhaDois">
        <a href="#">Português Brasil</a>
        <a href="#">© 2021 IntaDev Senai Informática</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
