<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Edição de Perfil</title>
    <link rel="stylesheet" href="css/styleEdicaoPerfil.css">
</head>

<header class="topo">
    <div class="content">
        <a href="index.html">
            <img src="images/Instadev.svg" alt="Logo Instadev">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="#"></a><img src="images/Simbolo home.png" alt="Simbolo de página inicial"></a></li>
                <li><a href="#"><img src="images/Simbolo enviar.png" alt="Item para fazer publicações"></a></li>
                <li><a href="#"><img src="images/Simbolo bussóla.png" alt="Simbolo de uma bussóla"></a></li>
                <li><a href="#"><img src="images/Simbolo coração.png" alt="Item para curtir publicações"></a></li>
                <li><a href="#"><img src="images/Jeeves menor.png" alt="Foto do saudoso Marcos Jeeves"></a></li>
                <h1><img src="images/Simbolo pesquisa.png">Pesquisar</h1>
            </ul>
        </nav>
    </div>
</header>

<main role="main" class="pb-3">
    @RenderBody()
</main>

<footer class="content">
    <div class="linhaUm">
            <a href="#">Sobre</a>
            <a href="#">Carreiras</a>
            <a href="#">Ajuda</a>
            <a href="#">API</a>
            <a href="#">Pivacidade</a>
            <a href="#">Termos</a>
            <a href="#">Contas mais relevantes</a>
            <a href="#">Hashtags</a>
            <a href="#">Localizações</a><br>
    </div>
    <div class="linhaDois">
        <a href="#">Português Brasil</a>
        <a href="#">© 2021 IntaDev Senai Informática</a>
    </div>
</footer>

</html>