@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Comentario" asp-action="Index">Comentario</a>   
    <a class="navbar-brand" asp-area="" asp-controller="Publicacao" asp-action="Index">Publi</a>     
</div>
