@model EdicaoPerfil
@{
    ViewData["Title"] = "Edição de Perfil";
}

<form class="Editar-Perfil" action='@Url.Action("EditarPerfil")' method="POST" enctype="multipart/form-data">

    <div class="campo">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" id="Nome">
    </div>

    <div class="campo">
        <label for="Nomeusuario">Nome de usuário</label>
        <input type="text" name="Nome-usuario" id="Nome-usuario">
    </div>

    <div class="campo">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email">
    </div>

    <button class="Enviar">Enviar</button>
    <button class="Desativar-conta">Desativar minha conta permanentemente</button>

</form>
