*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


:root{
    --preto:      #000000;
    --preto2:     #353535; 
    --fonteCinza: #909090;
    --escolhaIMG: #D1D1D1;
    --backSearch: #DCDCDC;
    --background: #fafafa;
    --lilas:      #8134AF;
    --roxo:       #515BD4;
    --azul:       #2686CC;
    --rosa:       #DD2A7B;
    --laranja:    #F58529;
    --amarelo:    #FEDA77;
}

.content{
    width: 940px;
    left: 492px;
    top: 10px;
    margin: auto;     
}

body{
    background-color: var(--background);
}

.principal{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    /* background-color: var(--laranja); */
}
.logo{
    width: 110px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu h1{
    width: 250px;
    height: 28px;
    left: 812px;
    top: 12px;
    /* background-color: yellowgreen; */
}
.menu ul{
    width: 200px;
    height: 70px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #2686CC; */
}

.menu input{
    width: 215px;
    height: 30px;
    background-image:url(~/img/search.png);
    background-repeat: no-repeat;
    margin-right: 100px;
    margin-bottom: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 13px;
    color: #909090;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
    top: 8px;
    /* background-color: yellow; */
}


/* FEED - inicio */
.destaque{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.destaque a{
    text-decoration: none;
    color:var(--preto);
}

.lateral{
    width: 185px;
    height: 100px;
    display: flex;
    background-color: var(--background)
}

.userLink{
    text-align: left;
    margin-left: 15px;
    margin-top: 25px;    
}

.userLink span{
    color: #b6b6b6;
}

.nick{
    width: 62px;
    margin-top: 15px;
}

.story{
    width: 715px;
    height: 100px;
    justify-content: space-between;
    list-style-type: none;
    font-size: 13px;
    background-color: #fff;
    border: 1px, var(--fonteCinza);
}

.story li{
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #F1F1F1;
}

.story img{
    width: 60px;
}

.publicar{
    width: 715px;
    height: 165px;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #F1F1F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fotoeP{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    /* background-color: var(--amarelo); */
}

.fotoeP img{
    margin-bottom: 15px;
}

.fotoeP h1{
    font-size: 18px;
    font-weight: bold;
}

.formEBotoes{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.formEBotoes input{
    width: 300px;
    height: 27px;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    color: var(--escolhaIMG);
    text-align: center;
    background-color:var(--background);
}

.formEBotoes button{
    width: 155px;
    height: 27px;
    border-radius: 5px;
}

.escolher{
    color:#7D7D7D;
    background-color: var(--escolhaIMG);
}

.postar{
    color: #fff;
    border-radius: 5px;
    background-color: var(--azul);
}

.publi{
    width: 715px;
    height: 715px;
    margin-top: 35px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: var(--preto);
    border: 1px solid #F1F1F1;
    background-color: #fff;  
}

.publi a{
    text-decoration: none;
    font-weight: 600;
    color: var(--preto);
}

.infoPubli{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.infoPubli img{
    margin: 0;
}

.foto{
    width: 714px;
}

.interacao{
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--amarelo); */
}

.interacao img{
    margin-left: 20px;
}

.interacao input{
    width: 300px;
    height: 27px;
    margin-left: 10px;
    color: var(--fonteCinza);
    border-bottom: 1.5px solid #F1F1F1;
}

.paragrafo{
    margin-left: 20px;
    font-weight: bold;
}
/* FEED - final */

/* PERFIL INICIO */
.flex{
    width: 80%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.flex h1{
    font-size: 26px;
    font-weight: 400;
}


.f-perfil{
    width: 40%;
    height: 100%;
    margin: 0 5% 0 10em;
    display: flex;
    align-items: center; 
    margin-left: -01px;   
}


.info{
    width: 60%;
}

.info .pu{
    margin-top: 20px;
    margin-bottom: 23px;
}
.info a{
    text-decoration: none;
    color: var(--azul);
}

.username{
    width: 203px;
    height: 30px;
    font-family:var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* background-color: #FEDA77; */
}

.infop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    
    
}




/*Perfi fim*/


.linha{
    width: 926.04px;
    height: 0px;
    left: 490px;
    top: 278px;
    border: 1px solid #DCDCDC;
    margin: auto;
    
}
.nome{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

}

.nome h2{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.nome a{
    font-weight: 600;
   /* margin-left: 10px;*/
}    


.pub{
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}

.meio{
    align-items: center;
}
.pu{
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    
  
   
}
.card{
    width: 430px;
    height: 404px;
    left: 487px;
    top: 365px;
}


.publis{
    width: 50%;
    height: 45px;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.publis h3{
    width: 138px;
    height: 21px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.publicacao-toda{
    margin: auto;
    width: 100%;
    height: 100px;
}

.ajustePubli{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.publicacaoPerfil{
    width: 934px;
    height: 404px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background:#FFFFFF;
    border: #FFFFFF;
}

.publicacao1{  
    width: 934px;
    height: 404px;
    left: 805px;
    margin-top: 50px;
    background:#FFFFFF;
    border: #FFFFFF;
}

.foto-profile{
    width: 65px;
    height: 66px;
    margin-left: 0px;
    margin-top: 10px; 
    border-radius: 115.5px;
}


.foto-postagem{
    width: 430px;
    height: 404px;
    left: 487px;
    top: 365px
}

.postagem-perfil{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 40px;    
}
.nome-perfil h3{

    width: 111px;
    height: 17px;
    margin-left: 20px;
    margin-top: 27px;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.nome-perfil p{ 
    width: 138px;
    height: 21px;
    margin-left: 20px;
    margin-top: -4px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


.icon{
    margin-left: 0px;
    justify-content: start;
    margin-left: 40px;
    

}

.curti {
    margin-right: 10px;
    margin-top: 20px; 
}



.curtidas{
    width: 114px;
    height: 17px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    justify-content: start;
    margin-left: 40px;


}

/* Comentarios*/
.post-comentarios{    
    color: #000000;
    Float:left;
    Width: auto;
    Flex: 1 1 10em;
    justify-content: space-between;
    margin-left: 40px;
}


.name{
    width: 90px;
    font-family: 'Segoe UI', sans-serif;
    flex-flow: row nowrap;
    font-weight: bold;
    padding-right: 1em;
    font-size: 13px;
    margin-top: 50px;
    color: #000000;

}

.iconc{
    float: right;
    padding-left: 80px ;
    
}


.post-comentarios p{
    font-size: 13px;
}


.mais{
    width: 187px;
    height: 21px;
    left: 956px;
    margin-top: 75px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #909090;
    
}
/* PERFIL FINAL */

/* LOGIN INICIO */
.login{
    width: 345px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #F1F1F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
}
.logincentral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincentral img{
    padding-bottom: 30px ;
}
.logincentral input{
    color: var(--fonteCinza);
    border: 1px solid #DCDCDC;
    background-color:var(--background);
    width: 265px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 12px;
}
.logincentral button{
    width: 265px;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 2px;
    border-color: var(--azul);
    color: #fff;
    background-color: var(--azul);
    border: none;
}
.ou{
    display: flex;
    flex-direction: row;
}
.ou h1{
    font-weight: 400;
    color: #909090;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login a{
    text-decoration: none;
    color: #2686CC;
    font-weight: 400;
}
.cadastre-se{
    height: 60px;
    width: 345px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #F1F1F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}
.cadastre-se h2{
    font-size: 14px;
    font-weight: 400;
    color: var(--preto2);
}
.cadastre-se a{
    text-decoration: none;
    color: #2686CC;
}
.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mobile p{
    color: #353535;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
/* LOGIN FINAL */

/* FOOTER - inicio */
footer{
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: var(--fonteCinza);
    padding: 25px;

}

footer a{
    text-decoration: none;
    font-weight: 400;
    color: var(--fonteCinza)
}

footer .linhaUm{
    margin-bottom: 15px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

footer .linhaDois{
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
/* FOOTER - final */























.perfilEditar{
    width: 950px;
    height: 650px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    border: 1px solid #F1F1F1;
}

.org{
    display: flex;
    justify-content: space-between;
}

.org h2{
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 65px;
}

.editarTopo{
    width: 250px;
    height: 150px;
    margin-right: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editarTopo img{
    width: 75px;
    height: 75px;
}
.fotoAlt{
    justify-content: space-around;;
    margin-right: 15px;
    padding-bottom: 20px;
}
.fotoAlt p{
    font-weight: 600;
}

.fotoAlt a{
    text-decoration: none;
    color: #2686CC;
}

.info{
    width: 450px;
    height: 350px;
    font-size: 13px;
    margin-left: 250px;
}

.info h2{
    font-size: 14px;
    font-weight: 600;
}

.info p{
    width: 300px;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 150px;
    color: #909090;
}
.info span{
    font-weight: 600;
}

.info input{
    width: 300px;
    height: 27px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    color: #D1D1D1;
    padding-left: 3px;
}

.editForm{
    display: flex;
    justify-content: space-between;
}

.btn-enviar{
    width: 450px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.btn-enviar input{
    width: 65px;
    height: 30px;
    background-color: #2686CC;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.btn-enviar a{
    text-decoration: none;
    color: #2686CC;
}





























